.button {
  border: none;
  background-color: transparent;
}

.list-item {
  list-style-type: none;
  font-family: 'Roboto';
  color: #1e293b;
  font-size: 20px;
  background-color: transparent;
  padding: 5px;
}
.special-button {
  border: 2px solid #0284c7;
  background-color: transparent;
  height: 40px;

  border-radius: 25px;
}
